html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #1e1e1e;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  width: 100%;
  background-color: #FFFAFA;
  border-bottom: 3px solid #DAA520;
  margin-bottom: 3%;
}
header nav {
  display: flex;
  list-style: none;
  margin: 0 10%;
  height: 25vh;
}
header nav img {
  max-width: 100%;
  max-height: 100%;
  padding-right: 10%;
}
header nav li {
  display: flex;
  width: 15vw;
  align-items: center;
  justify-content: space-around;
}
header nav li a:hover {
  border-bottom: 2px solid #DAA520;
}
header nav li a {
  text-decoration: none;
  color: #141414;
  padding: 5%;
  font-size: 2rem;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0;
}

main {
  width: 66vw;
  float: left;
  margin: 0 2% 5% 5%;
  background: #FFFFFF;
  border-radius: 1%;
}
main p {
  padding: 0 5%;
  font-size: 1.8rem;
  text-align: left;
}
main img {
  max-width: 100%;
  max-height: 100%;
  padding-top: 0;
  border-radius: 1% 1% 0 0;
}

.twitter {
  margin-bottom: 10%;
}

.caseStudy {
  padding: 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Assets/book-background.jpg) no-repeat center fixed;
  background-size: cover;
}

h2 {
  font-size: 3rem;
  color: #FFFAFA;
  text-align: center;
  margin: 10% 0 10% 0;
  text-decoration: underline;
  text-underline-position: under;
  letter-spacing: 2px;
}

.caseStudyImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.caseStudyImages figcaption {
  font-size: 2rem;
  padding: 5%;
}
.caseStudyImages figure {
  width: 30%;
  background-color: #FFFAFA;
  border-radius: 1%;
  margin: 1%;
}
.caseStudyImages img {
  max-width: 100%;
  height: 250px;
  border-radius: 1% 1% 0 0;
}

.survey {
  margin: 10%;
}

footer {
  width: 100%;
  margin: 0;
  background: #FFFFFF;
  border-top: 3px solid #DAA520;
  color: #141414;
  display: flex;
}

.container1,
.container2,
.container3 {
  width: 33%;
}

.container1 img {
  margin-left: 5%;
  width: 100%;
}
.container1 p {
  font-size: 1.2rem;
  margin-left: 50%;
  line-height: 1.5;
}

.container2 {
  padding: 10%;
}
.container2 h3 {
  font-size: 1.7rem;
  font-variant: small-caps;
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 15%;
}
.container2 li {
  list-style: none;
}
.container2 li a {
  text-decoration: none;
  color: #141414;
  font-size: 1.5rem;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 1.8;
}

.container3 {
  list-style: none;
  display: flex;
  margin: 15% 0 10% 5%;
  align-items: center;
}
.container3 li {
  padding: 10%;
}
.container3 li a {
  font-size: 2.2rem;
  color: #141414;
}

.column1,
.column2 {
  flex-direction: column;
  padding: 5%;
}
.column1 a i,
.column2 a i {
  padding: 25%;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  header {
    height: 100vh;
    margin-bottom: 15%;
  }
  header nav {
    height: 100vh;
  }
  header nav img {
    margin-top: 15%;
    padding: 0;
  }
  header nav li {
    justify-content: flex-start;
    width: 50vw;
    margin-bottom: 10%;
  }
  header nav li a {
    width: 50vw;
    border-bottom: 1px solid #DAA520;
  }

  main {
    width: 100vw;
    margin: 0 0 15% 0;
    border-radius: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
  nav img {
    float: left;
  }

  .caseStudy {
    background: #1e1e1e;
    padding: 5% 0;
    margin: 0;
  }
  .caseStudy figure {
    width: 100%;
    margin: 0 0 5% 0;
    border-radius: 0;
  }

  .twitter,
.survey {
    display: none;
  }

  footer {
    flex-direction: column;
  }

  .container1,
.container2,
.container3 {
    width: 100vw;
  }

  .container1 img {
    margin: 0 5%;
    width: 100vw;
  }
  .container1 p {
    margin: 0;
    padding: 10%;
  }

  .container2 h3 {
    padding-bottom: 5%;
  }

  .container3 {
    justify-content: space-around;
    margin: 10% 0 10% 0;
  }
  .container3 li a {
    font-size: 3rem;
  }

  .column1,
.column2 {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1300px) {
  body {
    margin: 10%;
  }
}

/*# sourceMappingURL=styles.css.map */
